<mat-toolbar color='primary'>
  <button mat-button routerLink="/home">
    Home
  </button>
  <button *ngIf="authService.isLoggedIn()" mat-button [matMenuTriggerFor]="appMenu">
    Entities
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <span class="example-fill-remaining-space"></span>
  <button *ngIf="authService.isLoggedOut()" mat-button (click)="signup()">Sign Up</button>
  <button *ngIf="authService.isLoggedOut()" mat-button (click)="login()">Login</button>
  <button *ngIf="authService.isLoggedIn()" mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <a routerLink="/accounts" mat-menu-item>Accounts</a>
</mat-menu>
<div class="global-loader" *ngIf="loaderEnabled" [ngClass]="{'busy': loaderEnabled}">
  <mat-spinner></mat-spinner>
</div>
<router-outlet></router-outlet>
