<h1 *ngIf="isCreate" mat-dialog-title>Create Account</h1>
<h1 *ngIf="!isCreate" mat-dialog-title>Edit Account</h1>

<form>
  <mat-dialog-content>
    <mat-grid-list cols="2" rowHeight="3:1">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Username" [disabled]="!isCreate" [(ngModel)]="account.username" name="username">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="account.name" name="name">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile *ngIf="isCreate" colspan="2">
        <mat-form-field>
          <input matInput placeholder="Password" type="password" [(ngModel)]="account.password" name="password">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <mat-form-field>
          <input matInput placeholder="Email" [(ngModel)]="account.email" name="email">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button color="primary" type="button" (click)="submit()">Submit</button>
    <button *ngIf="!isCreate" mat-button color="warn" type="button" (click)="reset()">Reset</button>
    <button mat-button type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>

</form>
