<mat-toolbar style="height: 90px;">
  <mat-form-field style="width: 100%">
    <input matInput placeholder="Search" (input)="search($event)">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</mat-toolbar>

<table #table mat-table [dataSource]=accounts>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let account"> {{account.id}} </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Login </th>
    <td mat-cell *matCellDef="let account"> {{account.username}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let account"> {{account.name}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let account"> {{account.email}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-button mat-row *matRowDef="let account; columns: columnsToDisplay" (click)="edit(account)"></tr>

</table>
<button mat-fab (click)="create()" class="create-fab">
  <mat-icon>add</mat-icon>
</button>
